body ,h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, textarea, select{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #ffe6e9;
    font-family: 微软雅黑;
}
a{
    color: white;
    text-decoration: none;
}
/*默认样式*/
.header{
    width: 100%;
    height: 60px;
    background: #ffb5bd;
}
.headerBox{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: #ffb5bd;
}
.headerBox h1{
    width: 180px;
    height: 100%;
    background: #ffb5bd;
    text-align: center;
    line-height: 60px;
    float:left;
}
.headerBox .nav{
    height: 100%;
    background: #ffb5bd;
    line-height: 60px;
    float:left;
}
.nav li{
    float: left;
    margin-right: 36px;
}
.nav li a:hover{
    color:mediumblue;
}
.headerBox .serch{
    width: 60px;
    height: 100%;
    background: #ff9b1b;
    float:right;
}

.title{
    border-bottom: 1px solid black;
    color: black;
    font-size: 16px;
    padding: 10px;
    position: relative;
}
.title:hover::before{
    width: 80px;
}
.title::before{
    content: '';
    height: 2px;
    width: 70px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: black;
    /*display: block;*/
    transition: all .5s ease-in;
}

.outbox{
    width: 1140px;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background: white;
    background: url("../image/abbg.png") #ffffff no-repeat right top ;
}
.outbox ul li{
    text-overflow: ellipsis;
}
.outbox ul li span{
    line-height: 32px;
    padding-right: 40px;
    color: grey;
    font-size: 16px;
    position: relative;
}
.outbox ul li span::after{
    content: '';
    width: 2px;
    height: 35px;
    background: grey;
    position: absolute;
    right: 20px;
    top: 0;
}
.outbox li{
    position: relative;
}
.outbox ul li i a{
    line-height: 32px;
    padding-right: 40px;
    color: black;
    font-size: 16px;
    position: relative;
    font-style: normal;
}
.outbox ul li >i::before{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid grey;
    background: lavenderblush;
    position: absolute;
    top: 10px;
    left: 92px;
}
.outbox > ul > li i::before:hover{
    background: black;
}


.footer{
    width: 100%;
    background: #4d4d4d;
    border-top: #00c1de 10px solid;
    padding: 30px 0;
    color: #73777a;
    font-size: 14px;
    position: relative;
}
.footer .box{
    width: 1200px;
    margin: auto;
}
.wxbox{
    float: left;
    margin-right: 20px;
}
.wxbox ul{
    float: left;
}
.wxbox li{
    float: left;
    margin: 0 10px;
    text-align: center;
}
.wxbox img{
    display: block;
    height: 100%;

}
.endnav p{
    line-height: 1.5;
    margin-bottom: 5px;
}
.endnav b{
    font-size: 16px;
    color: #00c1de;
}
.top{
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    right: 30px;
    bottom: 40%;
    background: black;
}
